bash/.bash_profile.d/extra.sh
terminfo/.terminfo/69/iterm.app
terminfo/.terminfo/69/iterm
terminfo/.terminfo/74/tmux
terminfo/.terminfo/74/tmux-256color
vim/.vim/bundle/*
vim/.vim/.netrwhist
tmux/.tmux/resurrect
tmux/.tmux/plugins/*
