bash/.bash_profile.d/extra.sh
bash/.bash_profile.d/extra.bash
git/.git-templates/hooks/*.sample
terminfo/.terminfo/69/iterm.app
terminfo/.terminfo/69/iterm
terminfo/.terminfo/74/tmux
terminfo/.terminfo/74/tmux-256color
vim/.vim/autoload/*
vim/.vim/plugged/*
vim/.vim/.netrwhist
tmux/.tmux/resurrect
tmux/.tmux/plugins/*
